/* Header */

body {
  font-family: "Prompt", sans-serif;
  color: #795548;
}

h1 {
  font-size: 36px;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  align-items: center;
  color: red;
}

.logo img {
  width: 40px;
  cursor: pointer;
}

.nav-bar {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  color: #a3a3a3;
}

.nav-bar a:hover {
  color: #795548;
}

/* Cart */

.cart img {
  width: 20px;
  cursor: pointer;
}

.cart-content {
  display: none;
  position: fixed;
  height: 80%;
  overflow: auto;
  right: 0;
  /* top: 0; */
  flex-direction: column;
  border-radius: 5px;
  width: 450px;
  background-color: white;
  float: right;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(153, 153, 153, 0.78);
  -moz-box-shadow: 0px 0px 8px 0px rgba(153, 153, 153, 0.78);
  box-shadow: 0px 0px 8px 0px rgba(153, 153, 153, 0.78);
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}

.cart-item-container .equis {
  position: fixed;
  width: 20px;
  right: 35px;
  top: 100px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
}

.cart-content-image {
  width: 18%;
}

.cart-content-image img {
  width: 100%;
}

.cart-description {
  display: flex;
  flex-direction: column;
  background-color: beige;
  align-items: center;
}

.cart-description p {
  font-size: 15px;
}

.cart-description span {
  font-size: 12px;
}

.button-buy {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  background-color: #e5e5e5;
  border: #a3a3a3 2px solid;
  color: #795548;
}

.cart-buttoms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cart-buttoms button {
  /* width: 15px; */
  /* height: 15px; */
  background-color: white;
  font-size: 25px;
  border: none;
}

.cart-trash {
  width: 15px;
}

/* Home */

.home {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
  background-color: bisque;
}

.description {
  width: 40%;
  color: #a3a3a3;
}

.description h1 {
  color: #848484;
}

.home-image {
  width: 30%;
  padding-right: 100px;
}

.home-image img {
  width: 330px;
  /* background-color: red; */
}

@media (max-width: 770px) {
  .home {
    text-align: center;
    justify-content: center;
  }
  .description {
    width: 80%;
  }
  .home-image {
    width: 80%;
    padding: 0;
  }
  .cart-content {
    width: 80%;
  }
}

/* Products */

.products {
  padding: 20px;
  background-color: whitesmoke;
}

.products h2 {
  color: #795548;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
  justify-content: center;
  padding-top: 50px;
}

.product-container article {
  width: 180px;
  /* min-width: 160px; */
  height: 250px;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5px; */
}

.product-container article:hover {
  box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.29);
  border-radius: 0 0 10px 10px;
}

.product-image {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.product-description {
  text-align: center;
  color: #5d5d5d;
}

.product-description span {
  color: #00bcd4;
  /* font-weight: 500; */
}

.product-container article div img {
  width: 100%;
}
.product-container article button {
  display: none;
  width: 100%;
  height: 15%;
  background-color: #ffe4c4;
  border: none;
  color: #795548;
}

.product-container article:hover > button {
  border-radius: 0 0 10px 10px;
  display: block;
}

/**
* Footer
*/
footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100px;
  background-color: bisque;
}
